In [63]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time
import requests

In [64]:
# Set up executable path
executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

# NASA Mars News

In [65]:
# Set up url
nasa_url = "https://mars.nasa.gov/news/"
browser.visit(nasa_url)

In [66]:
# Scrape html and fine item list
nasa_html = browser.html
nasa_soup = BeautifulSoup(nasa_html, "html.parser")
nasa_results = nasa_soup.find("ul", class_="item_list")

In [67]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
news_title = nasa_results.find("div", class_="content_title").text
news_p = nasa_results.find("div", class_="article_teaser_body").text

print(news_title)
print(news_p)

Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover
NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.

# JPL Mars Space Images - Featured Image

In [68]:
# Set up url
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
jpl_url_root = url.split('/spaceimages')[0]
browser.visit(jpl_url)

In [69]:
# Click full image and more info to get image url
browser.click_link_by_partial_text('FULL')
time.sleep(5)
browser.click_link_by_partial_text('more info')

In [70]:
# Find figure to retrieve section that has image url
jpl_html = browser.html
jpl_soup = BeautifulSoup(jpl_html, "html.parser")
jpl_img_result = jpl_soup.find("figure", class_="lede")
jpl_img_result

<figure class="lede">
<a href="/spaceimages/images/largesize/PIA18846_hires.jpg"><img alt="A small galaxy, called Sextans A, is shown here in a multi-wavelength mosaic captured by the ESA's Herschel mission. In this image, the purple shows gas; blue shows young stars and the orange and yellow dots are newly formed stars heating up dust." class="main_image" src="/spaceimages/images/largesize/PIA18846_hires.jpg" title="A small galaxy, called Sextans A, is shown here in a multi-wavelength mosaic captured by the ESA's Herschel mission. In this image, the purple shows gas; blue shows young stars and the orange and yellow dots are newly formed stars heating up dust."/></a>
</figure>

In [71]:
# Find the image url to the full size .jpg image
featured_image_url = jpl_url_root + jpl_img_result.a["href"]
featured_image_url

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg/spaceimages/images/largesize/PIA18846_hires.jpg'

In [72]:
## If there is an error, use this intead ##
# jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
# jpl_url_root = url.split('/spaceimages')[0]
# browser.visit(jpl_url)
# html = browser.html
# soup = BeautifulSoup(html, "html.parser")
# result = soup.find("a", class_="button fancybox")
# # Visit the url for JPL Featured Space Image here.
# results = soup.find("a", class_="button fancybox")
# img_url = url_root + results["data-link"]
# # browser.visit(img_url)
# Find the image url to the full size .jpg image
# html = browser.html
# soup = BeautifulSoup(html, "html.parser")
# img_result = soup.find("figure", class_="lede")
# featured_image_url = url_root + img_result.a["href"]
# featured_image_url

# Mars Weather

In [73]:
# Set up url and scrape latest tweets
twitter_url = "https://twitter.com/marswxreport?lang=en"
twitter_response = requests.get(twitter_url)
soup_twitter = BeautifulSoup(twitter_response.text, "html.parser")
tweets = soup_twitter.find_all('div', class_='js-tweet-text-container')

In [74]:
# Retrive tweets with weather information. Remove picture in the end
for tweet in tweets:
    mars_weather = tweet.find('p').text
    if 'sol' in mars_weather:
        mars_weather_tweet = mars_weather.split("pic.twitter")[0]
        print(mars_weather_tweet)
        break
    else:
        pass

InSight sol 452 (2020-03-05) low -94.2ºC (-137.7ºF) high -9.2ºC (15.4ºF)
winds from the SSW at 6.5 m/s (14.5 mph) gusting to 19.6 m/s (43.9 mph)
pressure at 6.30 hPa

# Mars Facts

In [75]:
# Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
facts_url = "https://space-facts.com/mars/"
facts_df = pd.read_html(facts_url)[1].set_index("Mars - Earth Comparison")
facts_df

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:               -153 to 20 °C      -88 to 58°C

In [76]:
# Use Pandas to convert the data to a HTML table string.
html_table = facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [77]:
# Strip newlines
html_table.replace("\n","")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Mars - Earth Comparison</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [78]:
# Save html table
facts_df.to_html('table_v2.html')

# Mars Hemispheres

In [83]:
# Visit the USGS Astrogeology site 
h_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
h_url_root = h_url.split('/search')[0]
browser.visit(h_url)

In [84]:
# Scrape the site and visit each hemisphere page
title_list = []
url_list = []
    
for result in range(1):
    h_html = browser.html
    h_soup = BeautifulSoup(h_html, "html.parser")
    h_results = h_soup.find_all("div", class_="item")
    
    # Get url for each hemisphere
    for item in h_results:
        item_url = item.a["href"]
        item_full_url = h_url_root + item_url
        url_list.append(item_full_url)
        title = item.find("h3").text
        title_list.append(title)
        
title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [85]:
# Get image url from each page and create url list
url_dict_list = []

for item_url in url_list:
    browser.visit(item_url)
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    img_path = soup.select_one("ul")
    image_url = img_path.a["href"]
    url_dict_list.append(image_url)
    
url_dict_list

['http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']

In [87]:
# Combine 2 lists to get one list of dictionaries
hemisphere_image_urls = []

for url,title in zip(url_dict_list,title_list):
    hemisphere_image_dict = {}
    hemisphere_image_dict["title"] = title
    hemisphere_image_dict["img_url"] = url
    hemisphere_image_urls.append(hemisphere_image_dict)
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]